$background:    #282828;
$background-trans: rgba(40, 40, 40, 0.405);
$foreground:    #ebdbb2;
$black:         #3c3836;
$red:           #cc241d;
$orange:        #d65d0e;
$green:         #98971a;
$yellow:        #d79921;
$blue:          #458588;
$magenta:       #b16286;
$cyan:          #689d6a;
$white:         #a89984;
$black_l:       #928374;
$red_l:         #fb4934;
$orange_l:      #fe8019;
$green_l:       #b8bb26;
$yellow_l:      #fabd2f;
$blue_l:        #83a598;
$magenta_l:     #d3869b;
$cyan_l:        #8ec07c;
$white_l:       #fbf1c7;
$arch_blue:     #1793d1;

.bar {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    color: $foreground;
    background-color: $background-trans;
}

.right_widgets,
.center_widgets,
.left_widgets {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.launcher_lbl,
.workspaces,
.player,
.theme_switcher_lbl,
.temperature_widget,
.volume,
.tray,
.clock,
.battery{
  background-color: $background;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
}

.launcher_lbl {
  color: $arch_blue;
}

.theme_switcher_box:hover .theme_switcher_lbl,
.launcher_box:hover .launcher_lbl{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
  color: $background;
}

.theme_switcher_box:hover .theme_switcher_lbl{
  background-color: $blue;
}

.launcher_box:hover .launcher_lbl{
  background-color: $arch_blue;
}

.icon_label {
  padding: 0px 12px 0px 12px;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 8px;
}

.usedws .icon_label {
  color: $blue;
}

.activews .icon_label {
  background-color: $green;
  color: $background;
}

.ws_button:hover .icon_label {
  background-color: $blue;
  color: $background;
}

.temperature_overheating .temperature_widget_lbl {
  color: $red_l;
}

.temperature_hot .temperature_widget_lbl {
  color: $orange_l;
}

.temperature_warm .temperature_widget_lbl {
  color: $blue_l;
}

.temperature_cool .temperature_widget_lbl {
  color: $cyan_l;
}

.mic_volume_lbl_muted {
  color: $orange_l;
}

.sink_volume_lbl_muted {
  color: $orange_l;
}

.volume {
  padding-left: 3px;
  padding-right: 3px;
}

.tray {
  padding-left: 12px;
  padding-right: 12px;
}

.battery_full .battery_lbl {
  color: $green_l;
}

.battery_warn .battery_lbl {
  color: $orange_l;
}

.battery_low .battery_lbl {
  color: $red_l;
}

.battery_charging .battery_lbl {
  color: $yellow_l;
}
